

      <body style="background-color:antiquewhite">
      <p style="text-align: center;
        font-size: 50px;
        background-image: url('../../Images/images (2).jpg');">About Us</p>

         <p>
        National Scholarships Portal is one-stop solution through which various services starting from student application, application receipt, processing, sanction and disbursal of various scholarships to Students are enabled. National Scholarships Portal is taken as Mission Mode Project under National e-Governance Plan (NeGP)
        <br>
        <br>

        <b style="font-family:Comic Sans MS ;font-size:large;color:blueviolet ">   Vision</b><br>
        <br>

        National Scholarships Portal is one-stop solution through which various services starting from student application, application receipt, processing, sanction and disbursal of various scholarships to Students are enabled.
        This initiative aims at providing a Simplified, Mission-oriented, Accountable, Responsive & Transparent 'SMART' System for faster & effective disposal of Scholarships applications and delivery of funds directly into beneficiaries account without any leakages.
        <br>
        <br>

        <b style="font-family:Comic Sans MS ;font-size:large ;color:blueviolet"> Mission</b>
        <br>
        <br>
        The Mission Mode Project (MMP) of National Scholarships Portal under the National e-Governance Plan aims at providing common electronic portal for implementing various Scholarships schemes launched by Union Government, State Government and Union Territories across the country.
        <br>
        <br>
        <b style="font-family:Comic Sans MS ;font-size:large;color:blueviolet">Objectives</b>
        <br>
        <br>
        Ensure timely disbursement of Scholarships to studentsProvide a common portal for various Scholarships schemes of Central and State GovernmentsCreate a transparent database of scholarsAvoid duplication in processingHarmonisation of different Scholarships schemes & normsApplication of Direct Benefit Transfer
        <br>
        <br>
        <h4 style="font-family:Comic Sans MS ;font-size:large;color:blueviolet ">Benefits</h4>
        <ul>
            <li>
                Simplified process for the students:
                <ul>
                    <li> All scholarships information available under one umbrella.</li>
                    <li>Single integrated application for all scholarships</li>
                </ul>
            </li>


            <li>

                Improved transparency :
                <ul>
                    <li>
                        System suggests the schemes for which a student is eligible.
                    </li>

                    <li>  Duplicates can be reduced to the maximum extent</li>
                </ul>
            </li>

            <li>
                Helps in standardisation :
                <ul>
                    <li>
                        Master data for Institutions and courses at all India level .
                    </li>
                    <li>
                        Scholarships processing
                    </li>
                </ul>

            <li>
                Serves as a decision support system (DSS) for Ministries and departments as up-to date information will be available on demand.
            </li>
            <li>
                Comprehensive MIS System to facilitate monitoring every stage of Scholarships distribution i.e. from student registration to delivery of funds.
            </li>

        </ul>
    </p>

</body>
